{% extends "sobre.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block body %}

<div id="page-wrapper">
	<div class="container">	
		<h1 class="acessibilidade">
			About
		</h1>
		
		<p>
			Welcome to Wasaboo!
		</p>
		
		<p>
			Wasaboo is a free and collaborative space where you can contribute with your outdoors. 
			In a hurry world, people do not have enough time to read and enjoy everything they want. 
			Wasaboo outdoors are succinct and save time. In addition you learn new things, collect cards 
			by subject and play them to others. Help people with useful and educational cards. 
		</p>
		
		<p>
			Help people with useful outdoors that can solve their problems or instigate their curiosity. 
			In each post you can add more details about your card. 
			For example, the step-by-step to prepare a health food recipe or 
			a programming language command to resolve some bug. The interesting history
			about some place or tips about good books.
		</p>
		
		<p>
			The Wasaboo project does not intend to sell anything. 
			You can advertise your products or services, but try to do it in a different way. 
			Write about interesting things and people will look for you. 		
		</p>
		
		<p>
			Start playing!
		</p>
							
	</div>
</div>

{% endblock %}