{% extends "sobre.html" %}
{% load i18n admin_static %}
{% load url from future %}



{% block body %}

<div id="page-wrapper">

	<div class="container">	
	
		<h1 class="acessibilidade">
			Privacy Policy
		</h1>	
		
		<p>We recognize that your privacy is very important and take it seriously. 
		This Privacy Policy describes Wasaboo's policies and procedures on the collection, use, disclosure, 
		and sharing of your information when you use the Wasaboo website. 		
		We will not use or share your information with anyone.
		</p>
		
		<p><b>Information Collection and Use</b></p>
		
		<p>Wasaboo uses information we collect to analyze how the Service is used, 
		diagnose service or technical problems, maintain security, monitor metrics such as total 
		number of visitors, traffic, and demographic patterns.</p>
		
		<p><b>User-Provided Information:</b></p>
		
		<p>You provide us information about yourself, such as your name, e-mail address and interests, 
		if you register for a member account. Your name and other information you choose to add to your 
		profile will be available for public viewing on the Wasaboo. As default, we will not use your email 
		address to send you Service-related notices. 
		You can control receipt of messages on your Settings page.</p>
		
		<p>You also provide us information in User Content. Your outdoors on the Service, and metadata 
		about them (such as when you posted them), are publicly viewable on the Service, along with 
		your name (the Service does not permit you to post anonymously).</p>
				
		<p><b>Information Collected Automatically</b></p>
				
		<p>We use tracking technologies such as log files. We also use automated technologies to collect and 
		analyze certain types of information, including:</p>
		<p> 
		(a) information related to the devices or browsers you use to access or interact with the Service, such as: 
		IP addresses, geolocation information, unique device identifiers and other information about your mobile 
		phone or other mobile device(s), browser types, browser language, and unique numbers or codes in cookies; 
		and
		</p>
		<p> 
		(b) information related to the ways in which you interact with the Service, such as: referring and exit 
		pages and URLs, platform type, the number of clicks, domain names, landing pages, pages viewed and the 
		order of those pages, the amount of time spent on particular pages, the date and time you used the Service, 
		and other similar information. We may also capture other data, such as search criteria and results.</p>
		
		
		<p class="qtext_para"><b>How We Share Your Information</b></p>
		
		<p class="qtext_para">We don't share.</p>
		
		
		<p class="qtext_para"><b>How We Protect Your Information</b></p>
		
		<p class="qtext_para">Wasaboo uses a variety of physical, managerial, and technical safeguards to 
		preserve the integrity and security of your information, based on the sensitivity of the information. 
		We cannot, however, ensure or warrant the security of any information you transmit to Wasaboo or 
		guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by 
		breach of any of our physical, technical, or managerial safeguards.</p>
		
		
		<p class="qtext_para"><b>Privacy</b></p>
		
		<p class="qtext_para">Wasaboo does not knowingly collect or solicit personal information
		from anyone. If we become aware that we have collected personal information, we take steps to remove 
		that information.</p>
		
		<p class="qtext_para"><b>Links to Other Web Sites</b></p>
		
		<p class="qtext_para">We are not responsible for the practices employed by websites linked to or 
		from the Service, nor the information or content contained therein. Please remember that when you 
		use a link to go from the Service to another website, our Privacy Policy is no longer in effect. 
		Your browsing and interaction on any other website, including those that have a link on our website, 
		is subject to that website’s own rules and policies.</p>
		
		
		<p class="qtext_para"><b>Changes to Our Privacy Policy</b></p>
		
		<p class="qtext_para">If we change our privacy policies and procedures, we will post those changes 
		on this page to keep you aware of what information we collect, how we use it and under what 
		circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted 
		on this page.</p><p class="qtext_para">If you have any questions about our Privacy 
		Policy, please <a href="{%url 'contact' %}">contact us</a>.
		</p>	
			
		</div>
</div>


{%endblock%}