{% extends "base.html" %}
{% block body %} 
    
<div class="container">
<div class="row content">
<ul class="my-upcards-waterfall">
{% for tip in myupcards %}
                
			  {% include 'modal_edit_card.html' %}
			  
		      {% include 'modal_remove_card_my_game.html' %}
			  		       
              <li class="cards card-{{tip.id}}">
			    <div class="main card-layout">
				  
				    {% include 'card_header.html' %}
			        
			        <!-- Outdoor title -->
			        {% include 'outdoor_title.html' %}  

					{% include 'card_delete_question.html' %}
	                
	                {% include 'folder_options.html' %}
	                    
					{% include 'folder_container.html' %}  
					
					{% include 'chat_container.html' %}                  
					
					<!-- Picture -->					
					{% include 'outdoor_picture.html' %}							    
				  
				  <!-- Profile image -->
                  <div class="profile-image">
                  	  <a href="{% url 'exibir' tip.author %}">
                  	  <div class="image-content">
						    {% if perfil.id == perfil_logado.id %}
						    	<a data-toggle="modal" data-target="#updateProfilePicture" class="dropdown-toggle">
							    	{% if tip.type = 'f' %}
							       		    {% if tip.upload != "0"  %}
								       		    	<div>
								       		    		<img src="{{tip.upload}}" class="user">
								       		    	</div>
							       		    {% else %}
								       		    	<div class="user woman"></div>
								       		{% endif %}
							       		
							    	{% elif tip.type = 'm' %}
							       		    {% if tip.upload != "0"  %}
								       		    	<div>
								       		    		<img src="{{tip.upload}}" class="user">
								       		    	</div>
							       		    {% else %}
								       		    	<div class="user man"></div>
								       		{% endif %}
							        	
							    	{% elif tip.type = 'c' %}
							       		    {% if tip.upload != "0"  %}
								       		    	<div>
								       		    		<img src="{{tip.upload}}" class="user">
								       		    	</div>
							       		    {% else %}
								       		    	<div class="user company"></div>
								       		{% endif %}
							       	{% endif %}
						        </a>
						        
						      {% else %}
						     
							    	{% if tip.type = 'f' %}
							       		    {% if tip.upload != "0"  %}
								       		    	<div>
								       		    		<img src="{{tip.upload}}" class="user">
								       		    	</div>
							       		    {% else %}
								       		    	<div class="user woman"></div>
								       		{% endif %}
							       		
							    	{% elif tip.type = 'm' %}
							       		    {% if tip.upload != "0"  %}
								       		    	<div>
								       		    		<img src="{{tip.upload}}" class="user">
								       		    	</div>
							       		    {% else %}
								       		    	<div class="user man"></div>
								       		{% endif %}
							        	
							    	{% elif tip.type = 'c' %}
							       		    {% if tip.upload != "0"  %}
								       		    	<div>
								       		    		<img src="{{tip.upload}}" class="user">
								       		    	</div>
							       		    {% else %}
								       		    	<div class="user company"></div>
								       		{% endif %}
							       	{% endif %}
						     {% endif %}
			              </div>
                  	  </a>
                  	  
                  	  <!-- Profile name -->
					  {% include 'outdoor_profile.html' %}  
          				    
          			  <!-- Favorite icon -->
     			      {% include 'outdoor_favorite_local.html' %}
     			         
		      	  </div>
		      	  
		      	  <!-- Outdoor Campaign -->
			      {% include 'outdoor_campaign.html' %}
		                			    
			    </div>
			  </li>
              {% empty %}
              
 	      	  <li class="no-published-warning">
	  	      	  No outdoors connected
           	  </li>                
{% endfor %}
</ul>


<script>
function searchContacts() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myContacts');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myULContacts");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

<script>
function searchTips() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myTips');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myULTips");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("div")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
</div>
</div>
{% endblock %}