{% extends "base.html" %}
	
{% block body %} 
<div class="row content">
<div id="Center">   
<br/> 
          	            	
				<ul class="played-waterfall">
				{% for tip in credit_cards %} 
				                		           
	              <li class="cards card-{{tip.id}}">
				        
				    <div class="main card-layout">					     
				        
						TESTE 
						
		            </div>
		                				    
				  </li>
				  
	              {% empty %}
	              <div style="text-align: center;">
	              	<a data-toggle="modal" 
		  	      	data-target="#" class="dropdown-toggle btn btn-publish-first">
	              	    	No credit cards. Create one.
		  	      	</a>  
		  	      </div>      	              
				{% endfor %}
				</ul>
				
    </div>
</div>  
{%  endblock %}

