<div class="modal fade" id="docs-{{ tip.id }}" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
          		<span class="profile-name profile-title" id="myModalLabel">
               	   Docs attached
                </span>
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
            </div>
            
            <div class="modal-body">
			
				{% autoescape off %} {{ tip.docs }} {% endautoescape %}    	          
                
            </div>
        </div>  
    </div>
</div>