{% extends "base.html" %}
{% block body %}

	<!-- Modal for editing profile education-->
	{% include "modal_location.html" %}

<div class="row-profile">

	<!-- MENU -->	
	{% include "menu.html" %}
	
	<!-- PROFILE SUB MENU  -->	
	{% include "menu_profile.html" %} 	
    
	<div id="Center">
		<ul class="profile-waterfall">			
		    {% for c in content %}
		    
		    {% include 'modal_edit_location.html' %}
		    
			  <li class="cards card-{{c.id}}">
			    <div class="main card-layout">
			    
			        {% if perfil.id == perfil_logado.id %}         
			        <div class="panel-heading panel-heading-{{c.id}}">
				          <div class="wrapper">
								<div></div>
						
								<div style="margin-top: -10px;">
								    <!-- Main Toolbar -->
								    
								    <!-- Drop down main toolbar -->
									<a class="add_more_label toolbtn toolbtn-{{c.id}}" 
						           	   data-id = "{{c.id}}">
									   <span class="down-arrow" />
							        </a>
								</div>
						
						        <div>
				            	<a target="_blank" href="http://maps.google.com/?q={{ c.address }}" title="Map">
									<span class="maps"/>
								</a>
						        </div>
				       		</div>
				      
				         <!-- Toolbar -->
				      <div class="toolbar toolbar-{{c.id}} slideup">
				          <div>
				          	   <a href="#" 
					            data-toggle="modal" 
					            data-target="#updateLocation-{{c.id}}"
					            data-id = "{{c.id}}">
					            	<span class="pencil" />
					            </a>				       	       				           
				          </div>	

     			          <div></div>		       				         
				          
				          {% if tip.author_profile_id == request.user.perfil.id %}	
				          <div>
				              <!-- Showing edit toolbar -->
				      	       <a class="downcard add_more_label rudder rudder-{{c.id}}" 
				      	       data-id = "{{c.id}}">
						   	   <span class="points points-{{c.id}}"/>
				           </a>			           
				          </div>
				          {% else %}
						   <div style="text-align: center;">
				       	       <a class="delete-location input_label" 
					           style="cursor:pointer;" 
					           data-url = "{{url}}"
					           data-id = "{{c.id}}">
					               <span class="delete"></span>
					           </a>				           
				           </div>
				          {% endif %}
				          
				      </div>	
				     </div> 
				     {% else %}
				     <div class="panel-heading panel-heading-{{c.id}}">
				          <div class="wrapper">
								<div></div>
						
								<div></div>
						
						        <div>
						        	<a target="_blank" href="http://maps.google.com/?q={{ c.address }}" title="Map">
										<span class="maps"/>
									</a>
						        </div>
				       		</div>
				     {% endif %}
					
					<div class="title-content">
	               	  	<span class="input_label tip_label">Address :</span>
	               	  	{{ c.address }}
	               	  	
	               	  	<br/><br/>
	               	  	
	               	  	<div class="date-content">
			            	Posted {{ c.date|date:'M d, Y' }}
		            	</div>	
	               	</div>	               
	              </div>
		  </li>
		  {% empty %}
		  <li class="no-published-warning">
		      No information about where to find us
		  </li>
		  {% endfor %}
        </ul>
	</div>
</div>

{% endblock %}

