<!-- Modal to remove a card from feed -->
<div class="modal fade" id="removeCard-{{tip.id}}" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
          		<span class="profile-name profile-title" id="myModalLabel">
               	   Remove outdoor
                </span>
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
            </div>
            
            <div class="modal-body">
			
 			  	  	  <input type="hidden" value="{{tip.id}}" id="idTip" class="idTip">
	 			  	  	 			   
		 			  <input type="hidden" value="{{perfil_logado.id}}" id="profile_id" 
		 			  name="profile_id" required="required">
		 			  
		 			  <!-- Remove a card from the game of the player that is logged in -->
		 			  <input class="removedByDiscard btn discard discard-{{tip.id}}" 
		 			  type="button" 
		 			  name="removed_by"
		 			  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Discard from my connected outdoors"><br/>
		 			  		 			  
		 			  <input class="removedBy-color btn harassment harassment-{{tip.id}}" 
		 			  type="button" 
		 			  name="removed_by"
		 			  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Harassment: Disparaging or adversarial towards a person or other outdoor"><br/>
  					  
  					  <input class="removedBy btn spam spam-{{tip.id}}" 
  					  type="button" 
  					  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Spam: Undisclosed promotion for a link or product"><br/>
  					  
  					  <input class="removedBy-color btn plagiarism plagiarism-{{tip.id}}" 
  					  type="button" 
  					  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Plagiarism: Reusing content without attribution (link and blockquotes)"><br/>
					  
					  <input class="removedBy btn joke joke-{{tip.id}}" 
					  type="button" 
					  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Joke Outdoor: Not a serious outdoor"><br/>
		 			  		 			    					  
					  <input class="removedBy-color btn out out-{{tip.id}}" 
					  type="button" 
					  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Out of Date: Is no longer relevant or accurate outdoor"><br/>
		 			  
		 			  <input class="removedBy btn written written-{{tip.id}}" 
		 			  type="button" 
		 			  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Poorly Written: Has very bad formatting, grammar, and spelling"><br/>
		 			  
		 			  <input class="removedBy-color btn fake fake-{{tip.id}}" 
		 			  type="button" 
		 			  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Fake Profile: Author's profile is not credible, clear, and relevant"><br/>
		 			  
		 			  <input class="removedBy btn image image-{{tip.id}}" 
		 			  type="button" 
		 			  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Bad Image: Content contains image that violates policy"><br/>
  					    					    					  
  					  <input class="removedBy-color btn incorrect incorrect-{{tip.id}}" 
  					  type="button" 
  					  name="removed_by"
  					  data-url="{{url}}"
		 			  data-id="{{tip.id}}" 
		 			  value="Incorrect outdoor: Substantially incorrect content"><br/>
		 			  
	 			  <div class="modal-header">
				  <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
				  </div>
            </div>
        </div>  
    </div>
</div>	
<!-- End form -->

<!-- AJAX NEW COMPANY FORM SUBMIT -->
<script>
$( document ).ready(function() {
$("#removeCard-{{tip.id}}").submit(function(event){
    event.preventDefault(); //prevent default action
    var wasabooref = "{{url}}";   
    var tip = $(this).data("id"); 
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Encode form elements for submission
    //Disable submit button after click
    $(':input[type="submit"]').prop('disabled', true);
    
    $.ajax({
    	url : post_url,
        type: request_method,
        data : form_data,
        dataType : 'html',
        contentType: false,
        processData: false,
        success: function(response) { //on success
        	//LOAD SCRIPTS WITHOUT AJAX CALLS
        	$.getScript( '/static/js/scripts-loader.js');
        	
            // AJAX CALLS
        	$.getScript( '/static/js/show-references.js');
        	$.getScript( '/static/js/show-back.js');
        	$.getScript( '/static/js/favoriting-card.js');
        	$.getScript( '/static/js/desfavoriting-card.js');
        	$.getScript( '/static/js/hide-card.js');
        	$.getScript( '/static/js/publish-card.js');
        	$.getScript( '/static/js/counting-favoritings.js');
        	$.getScript( '/static/js/who-favorited.js');
        	$.getScript( '/static/js/delete-card-btn-yes.js');
        	$.getScript( '/static/js/save-to-folder.js');
        	$.getScript( '/static/js/delete-from-folder.js');
        	$.getScript( '/static/js/jquery.jscroll.js');
        	$.getScript( '/static/js/delete-location.js');
        	
        	// LOAD HTML
        	$('#waterfall').html(jQuery(response).find('#waterfall').html());
        	$('.profile-waterfall').html(jQuery(response).find('.profile-waterfall').html());
        	
        	// CLOSE MODAL
        	$('.close').click();
        	$('body').removeClass('modal-open');
        	$('.modal-backdrop').remove();	        	
        }
    });
});
});
</script>