<!-- Card Form -->
<div class="modal fade" id="newTip" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">

			<form action="{%url 'new_tip' %}" method="post" enctype="multipart/form-data" id="my_form" name="my_form"
			data-url="{{url}}" data-id="{{tip.id}}">
			{% csrf_token %}
			
				  <input type="hidden" value="{{tip.id}}" id="idTip" class="idTip">
 			  	  
 			  	  <input type="hidden" value="{{user.id}}" id="author_user_id" name="author_user_id" required="required">
 			   
	 			  <input type="hidden" value="{{perfil_logado.id}}" id="author_profile_id" name="author_profile_id" required="required">
	 			  
	 			  <input type="hidden" value="{{perfil_logado.nome}}" id="author_name" name="author_name" required="required">
	 			  
	 			  <input type="hidden" value="0" id="hided" name="hided" required="required">	
	 			  	 			  
	 			  <input id="date" name="date" type="hidden"  value="{% now 'd/m/Y H:m:s' %}" required="required" readonly>
	 			  
	 			  <input id="updated_date" name="updated_date" type="hidden">
	 			  
	 			  <input type="hidden" value="0" id="direction" name="direction" required="required">
	 			  
	 			  <input type="hidden" value="0" id="direction2" name="direction2" required="required">
	 			  
	 			  <input type="hidden" value="0" id="direction3" name="direction3" required="required">
	 			  
	 			  <!-- <input type="hidden" value="0" id="direction4" name="direction4" required="required"> -->
	 			  
	 			  <input type="hidden" value="0" id="hide_image" name="hide_image" required="required">
	 			  
	 			  <input type="hidden" value="0" id="hide_image2" name="hide_image2" required="required">
	 			  
	 			  <input type="hidden" value="0" id="hide_image3" name="hide_image3" required="required">
	 			  
	 			  <!-- <input type="hidden" value="0" id="hide_image4" name="hide_image4" required="required"> -->
	 			  
	 			  <input type="hidden" value="0" id="deck" name="deck" required="required">
				 			  
	 			  <input type="hidden" id="deck_name" name="deck_name">
	 			  
	 			  <input type="radio" name="type" value="{{perfil_logado.type}}" checked="checked"
	 			  style="display: none;">
	 			  
	 			  <input type="hidden" value="0" id="removedBy" name="removedBy" required="required">
	 			  
	 			  <input type="hidden" id="lat" name="lat" class="lat">
	 			  
   				  <input type="hidden" id="lng" name="lng" class="lng">
	 			  
	 			  <!-- NO WORLDS -->
	 			  {% if perfil_logado.map == '0' %}				 
              	    <input type="hidden" value="0" id="world" name="world">
              	  
              	  <!-- MAP WORLD -->
              	  {% elif perfil_logado.map == '1' %}
              	    <input type="hidden" value="1" id="world" name="world">
              	  
              	  <!-- FYS WORLD -->
              	  {% elif perfil_logado.map == '2' %}
              	    <input type="hidden" value="2" id="world" name="world">
              	  
              	  <!-- ADIDAS WORLD -->
              	  {% else %}
              	    <input type="hidden" value="3" id="world" name="world">
              	  {% endif %}

	               <ul class="nav nav-tabs sidebar-tabs" id="sidebar" role="tablist">                  
	                  <li id="card-tab" class="card-tab active">
		                  <a href="#tab-1" role="tab" data-toggle="tab">
		                      <span class="title-tip" style="font-size:18px">
					  		      <span class="glyphicon glyphicon-edit"></span>
					  	      </span>
		                  </a>
	                  </li>
	                  <li id="image-tab" class="image-tab">
		                  <a href="#tab-image" role="tab" data-toggle="tab">
		                  	  <span class="title-tip" style="font-size:18px">
						  	      <span class="glyphicon glyphicon-camera"></span>
						  	  </span>
		                  </a>
	                  </li>
	                  {% if perfil_logado.map != '1' %} <!-- Mapa de Alertas -->
	                  <li id="description-tab" class="description-tab">
		                  <a href="#tab-2" role="tab" data-toggle="tab">
		                  	  <span class="title-tip" style="font-size:18px">
						  	      <span class="glyphicon glyphicon-font"></span>
						  	  </span>
		                  </a>
	                  </li>
	                  <li id="site-tab" class="site-tab">
		                  <a href="#tab-3" role="tab" data-toggle="tab">
		                      <span class="title-tip" style="font-size:18px">
					  		      <span class="glyphicon glyphicon-link"></span>
					  	      </span>
		                  </a>
	                  </li>
	                  <li id="price-tab" class="price-tab">
		                  <a href="#tab-4" role="tab" data-toggle="tab">
		                      <span class="title-tip" style="font-size:18px">
					  		      <span class="glyphicon glyphicon-usd"></span>
					  	      </span>
		                  </a>
	                  </li>
	                  <li id="local-tab" class="local-tab">
		                  <a href="#tab-5" role="tab" data-toggle="tab">
		                      <span class="title-tip" style="font-size:18px">
					  		      <span class="glyphicon glyphicon-map-marker"></span>
					  	      </span>
		                  </a>
	                  </li>
	                  {% endif %}
	               </ul><!--/.nav-tabs.sidebar-tabs -->
	               
	               <br/><br/>
	               						  

	               <div class="tab-content">
					  	               	  
	               	  <div class="tab-pane active" id="tab-1">
				  	      <div class="main-fields">
			 			  	<div class="card-text-field">
				 			  <textarea id="content" name="content" rows="3" cols="68" class="tipTextArea" 
				 			  placeholder="Write your outdoor" spellcheck="false"></textarea>
							</div>
						  </div>
					  </div>	
		
		    			
							
					  <div class="tab-pane" id="tab-image">
					  <div class="row">
						
						<!-- Outdoor #1 -->					  	
					  	<div class="column">
						  <div class="form-group">
						  	<div class="fr-popup fr-desktop fr-active" style="position: relative;">				  
				  				<span class="upload-area fr-image-upload-layer fr-active fr-layer" id="fr-image-upload-layer">
				  				<span class="upload-drop-image"></span>
				  				<span id="warningClickUpload" class="title-tip warningClickUpload"><br/>Click to upload</span>
						  			<img id="imgPreview" class="imgpreview imgpreview-{{tip.id}}"/>				  				
						  			<span  class="fr-form">
					  						<input type="file" id="file" name="outdoor" 
					  						accept="image/*" tabindex="-1" aria-labelledby="fr-image-upload-layer" 
					  						role="button" dir="auto">
						  			</span>
						  		</span>
						  		<span class="fr-image-by-url-layer fr-layer" 
						  		id="fr-image-by-url-layer">
						  			<span class="fr-input-line">
						  			</span>
						  		</span>
						  		<div class="upload-tools">
						  		<a href="#" id="rotateImg" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-right"/></a>
								<a href="#" id="desrotateImg" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-left"/></a>
								<a href="#" id="rmImg" style="display: none" data-id="{{tip.id}}"><img class="remove-picture"/></a>
								</div>	
						  	</div>
						  </div>
						</div>
  						
  						<!-- Outdoor #2 -->
						<div class="column">
						  <div class="form-group">
						    <div class="fr-popup fr-desktop fr-active" style="position: relative;">				  
				  				<span class="upload-area2 fr-image-upload-layer fr-active fr-layer" id="fr-image-upload-layer2">
				  				<span class="upload-drop-image2"></span>
				  				<span id="warningClickUpload2" class="title-tip warningClickUpload2"><br/>Click to upload</span>
						  			<img id="imgPreview2" class="imgpreview2 imgpreview2-{{tip.id}}"/>				  				
						  			<span  class="fr-form">
					  						<input type="file" id="file2" name="outdoor2" 
					  						accept="image/*" tabindex="-1" aria-labelledby="fr-image-upload-layer" 
					  						role="button" dir="auto">
						  			</span>
						  		</span>
						  		<span class="fr-image-by-url-layer fr-layer" 
						  		id="fr-image-by-url-layer2">
						  			<span class="fr-input-line">
						  			</span>
						  		</span>
						  		<div class="upload-tools2">
						  		<a href="#" id="rotateImg2" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-right"/></a>
								<a href="#" id="desrotateImg2" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-left"/></a>
								<a href="#" id="rmImg2" style="display: none" data-id="{{tip.id}}"><img class="remove-picture"/></a>
								</div>	
						  	</div>
						  </div>
						</div>
						
						<!-- Outdoor #3 -->
						<div class="column">						  
						  <div class="form-group">
						    <div class="fr-popup fr-desktop fr-active" style="position: relative;">				  
				  				<span class="upload-area3 fr-image-upload-layer fr-active fr-layer" id="fr-image-upload-layer3">
				  				<span class="upload-drop-image3"></span>
				  				<span id="warningClickUpload3" class="title-tip warningClickUpload3"><br/>Click to upload</span>
						  			<img id="imgPreview3" class="imgpreview3 imgpreview3-{{tip.id}}"/>				  				
						  			<span  class="fr-form">
					  						<input type="file" id="file3" name="outdoor3" 
					  						accept="image/*" tabindex="-1" aria-labelledby="fr-image-upload-layer" 
					  						role="button" dir="auto">
						  			</span>
						  		</span>
						  		<span class="fr-image-by-url-layer fr-layer" 
						  		id="fr-image-by-url-layer3">
						  			<span class="fr-input-line">
						  			</span>
						  		</span>
						  		<div class="upload-tools3">
						  		<a href="#" id="rotateImg3" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-right"/></a>
								<a href="#" id="desrotateImg3" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-left"/></a>
								<a href="#" id="rmImg3" style="display: none" data-id="{{tip.id}}"><img class="remove-picture"/></a>
								</div>	
						  	</div>
						  </div>
						</div>
						
						<!-- Outdoor #4 -->
						<!-- <div class="column">						  
						  <div class="form-group">
						    <div class="fr-popup fr-desktop fr-active" style="position: relative;">				  
				  				<span class="upload-area4 fr-image-upload-layer fr-active fr-layer" id="fr-image-upload-layer4">
				  				<span class="upload-drop-image4"></span>
				  				<span id="warningClickUpload4" class="title-tip warningClickUpload4"><br/>Click to upload</span>
						  			<img id="imgPreview4" class="imgpreview4 imgpreview4-{{tip.id}}"/>				  				
						  			<span  class="fr-form">
					  						<input type="file" id="file4" name="outdoor4" 
					  						accept="image/*" tabindex="-1" aria-labelledby="fr-image-upload-layer" 
					  						role="button" dir="auto">
						  			</span>
						  		</span>
						  		<span class="fr-image-by-url-layer fr-layer" 
						  		id="fr-image-by-url-layer4">
						  			<span class="fr-input-line">
						  			</span>
						  		</span>
						  		<div class="upload-tools4">
						  		<a href="#" id="rotateImg4" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-right"/></a>
								<a href="#" id="desrotateImg4" style="display: none" data-id="{{tip.id}}"><img class="rotate-to-left"/></a>
								<a href="#" id="rmImg4" style="display: none" data-id="{{tip.id}}"><img class="remove-picture"/></a>
								</div>	
						  	</div>
						  </div>
						</div>	-->					

					 </div>
					 </div>						    					  
	                  
	                  
	                 <div class="tab-pane" id="tab-2">
				  	   <textarea id="reference" name="reference" rows="5" cols="66" class="new_reference"></textarea>
	                 </div><!--/.tab-pane -->
	                  
	                 <div class="tab-pane" id="tab-3">
					   <input type="text" id="link" name="link" class="profile-field-normal tip_link" 
					   placeholder="Paste URL linked to this outdoor">
	                 </div>
	                 
	                 
	                 <div class="tab-pane" id="tab-4">
	                   {% if perfil_logado.map != '2'  %} 
	                      <select class="selectpicker" name="coin">
	                        <option value="1" data-thumbnail="/static/img/united-states.png"> Dollar</option>
	                        <option value="2" data-thumbnail="/static/img/european-union.png"> Euro</option>
	                        <option value="3" data-thumbnail="/static/img/brazil.png"> Real</option>
	                      </select>
						  
						  <input type="text" id="price" name="price" class="profile-field-normal tip_link" 
						  placeholder="Price">
						{% else %}
	                      <select class="selectpicker" name="coin">
	                        <option value="4"> Books</option>
	                        <option value="5"> Clothes</option>
	                        <option value="6"> Toys</option>
	                      </select>
	                    {% endif %}
	                 </div><!--/.tab-pane -->	                 
	                 
	                  
	                 <div class="tab-pane" id="tab-5">
						  <input type="text" id="local" name="local" class="profile-field-normal tip_link" 
						  placeholder="Insert a location">	
	                 </div>
	                 
	               </div><!--/.tab-content -->
	               
	               <div id="modal-footer">
					  <br/><br/>
					  <div class="modal-header">		  
					  	<button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
					  	<input class="btn btn-success" name="submit" type="submit" value="Publish" id="submit" disabled/>
					  </div>
					  
					  <br/>
					
					  <span class="wave" style="width:100%;text-align:center;">
					      <span class="dot dot-{{tip.id}}"></span>
						  <span class="dot dot2 dot-{{tip.id}}" style="margin-left: 5px;"></span>
						  <span class="dot dot3 dot-{{tip.id}}" style="margin-left: 5px;"></span>
					  </span>	
			      </div>
			      </form>
				</div> 
			</div>
      </div>  
</div>	<!-- End tip form -->

    
<!-- Warning modal - file size -->
<div class="modal fade" id="modalWarningSize" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content-warning">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <span class="title-tip">File size must be at most 4MB</span>
      </div>
    </div>
  </div>
</div>	    

<!-- Avoid submit empty content and avoid submit skipping lines -->
<script>
 $(document).ready(function () {
    $('#content').keyup(function () {
        if ($.trim($('#content').val()).length < 1) {
			if ($("#file").val().length < 1){
				$(':input[type="submit"]').prop('disabled', true);
			}
        } else {
			
        	$(':input[type="submit"]').prop('disabled', false);
        }
    });
    $('#content').keypress(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
});
</script>

<script>
$(document).ready(function () {
function setSelectionRange(input, selectionStart, selectionEnd) {
	  if (input.setSelectionRange) {
	    input.focus();
	    input.setSelectionRange(selectionStart, selectionEnd);
	  } else if (input.createTextRange) {
	    var range = input.createTextRange();
	    range.collapse(true);
	    range.moveEnd('character', selectionEnd);
	    range.moveStart('character', selectionStart);
	    range.select();
	  }
	}

	function setCaretToPos(input, pos) {
	  setSelectionRange(input, pos, pos);
	}
	
		$(".card-text-field").click(function() {
		  if ($.trim($('#content').val()).length < 1) {
		  	setCaretToPos($("#content")[0], 0)
		  }
		});
});
</script>

<!-- Upcase first word -->
<script>
$(document).ready(function () {	
	jQuery(document).ready(function($) {
        $('#content').keyup(function(event) {
            var textBox = event.target;
            var start = textBox.selectionStart;
            var end = textBox.selectionEnd;
            textBox.value = textBox.value.charAt(0).toUpperCase() + textBox.value.slice(1);
            textBox.setSelectionRange(start, end);
        });
    });
});
</script>

<!-- Reset all New Outdoor Modal's content -->
<script>
$( document ).ready(function() {
	$('#newTip').on('hidden.bs.modal', function () {
		$('.card-tab').addClass('active');
		$('#tab-1').addClass('active');
		$('.image-tab').removeClass('active');
		$('#tab-image').removeClass('active');
		$('.description-tab').removeClass('active');
		$('#tab-2').removeClass('active');
		$('.site-tab').removeClass('active');
		$('#tab-3').removeClass('active');
		$('.price-tab').removeClass('active');
		$('#tab-4').removeClass('active');
		$('.local-tab').removeClass('active');
		$('#tab-5').removeClass('active');
		$('.tags-tab').removeClass('active');
		$('#tab-6').removeClass('active');
		$('#content').val('');
		$('.new_reference').froalaEditor('html.set', '');
		$('#link').val('');
		$('#price').val('');
		$('#local').val('');
		$("#imgPreview").hide();
		$("#imgPreview2").hide();
		$("#imgPreview3").hide();
		$("#imgPreview4").hide();
        $(".upload-drop-image").show();
        $(".upload-drop-image2").show();
        $(".upload-drop-image3").show();
        $(".upload-drop-image4").show();
        $(".warningClickUpload").show();
        $(".warningClickUpload2").show();
        $(".warningClickUpload3").show();
        $(".warningClickUpload4").show();
        $("#rmImg").hide();
        $("#rmImg2").hide();
        $("#rmImg3").hide();
        $("#rmImg4").hide();
        $("#rotateImg").hide();
        $("#rotateImg2").hide();
        $("#rotateImg3").hide();
        $("#rotateImg4").hide();
        $("#desrotateImg").hide();
        $("#desrotateImg2").hide();
        $("#desrotateImg3").hide();
        $("#desrotateImg4").hide();
        $('.warning').hide();
        $('.warning2').hide();
        $('.warning3').hide();
        $('.warning4').hide();
		$('.btn-cancel').show();
	    $(':input[type="submit"]').show();
	    $(':input[type="submit"]').prop('disabled', true);
		$('.dot').animate({"animation-duration":"0s"}, 0);
		$("#file").val("");
		$("#file2").val("");
		$("#file3").val("");
		$("#file4").val("");
	});
	});
</script>