{% if tip.content %}
  {% if not tip.removed %}
  <a href="{% if not user.is_authenticated %}{% url 'login' %}{% else %}#{% endif %}" 
  style="cursor:default;" aria-label="card text"
  class="{% if tip.notified and tip.author_profile_id == perfil_logado.id %}notifications-control{% endif %}" 
  data-url = "{{url}}" data-id = "{{tip.id}}">
    <div class="title-content title-content-{{tip.id}}" 
    style="white-space: pre-line; word-wrap: break-word;" wrap="hard" contenteditable=""
    data-id = "{{tip.id}}" data-content = "{{tip.content|linebreaks}}">
      {{tip.content|linebreaks}}
    </div>
  </a>
  
  {% else %}
 
  <div class="title-content title-content-{{tip.id}} {% if tip.removed %}ghost{% endif %}" 
  style="white-space: pre-line; word-wrap: break-word;" wrap="hard" contenteditable=""
  data-id = "{{tip.id}}" data-content = "{{tip.content|linebreaks}}">
    {{tip.content|linebreaks}}
  </div>					
  {% endif %}

{% else %}

  {% if not tip.removed %}
    <div class="title-content title-content-{{tip.id}}" 
    style="display:none;" wrap="hard" contenteditable=""
    data-id = "{{tip.id}}" data-content = ""></div>
  {% else %}
    <div class="title-content title-content-{{tip.id}} {% if tip.removed %}ghost{% endif %}" 
    style="display:none;" wrap="hard" contenteditable=""
    data-id = "{{tip.id}}" data-content = ""></div>					
  {% endif %}					
{% endif %}