{% extends "base.html" %}
	
{% block body %} 
<div class="row content">
<div id="Center">   
<br/> 
          	            	
		        <input type="text" id="myCards" onkeyup="searchCards()" 
		        placeholder="Filter my outdoors...">
		        
				<ul id="myULCards" class="played-waterfall">
				{% for tip in playable %} 
				                		           
	              <li class="cards card-{{tip.id}}">
				    <div class="main card-layout">
					     
					    {% include 'card_header_in_card.html' %}
				        
				        <!-- Outdoor title -->
			            {% include 'outdoor_title.html' %}  
						
					    <!-- Picture -->					
					    {% include 'outdoor_picture.html' %}
	
						{% include 'card_delete_question.html' %}
		                
		                {% include 'folder_options.html' %}
		                    
						{% include 'folder_container.html' %} 
						
					    
						<!-- Card update and creation date --> 
	                    <div class="profile-image">
		                {% if tip.updated_date != tip.date %}
		                  <div class="date-content">		                    
		                    <a data-toggle="custom-tooltip-right" data-tt="tooltip" data-placement="right" 
		                    title="Updated {{ tip.updated_date|date:'M d, Y' }} but Posted {{ tip.date|date:'M d, Y' }}">
								<span class="clock"></span>
							</a>
		                  </div>
		                  
		                  {% else %}
		                  
		                  <div class="date-content">
		                  	<a data-toggle="custom-tooltip-right" data-tt="tooltip" data-placement="right" 
		                    title="Posted {{ tip.date|date:'M d, Y' }}">
								<span class="clock"></span>
							</a>		                  				                  	
		                  </div>
		                {% endif %}
		                </div>
		                
		                <!-- Outdoor Campaign -->
			      	    {% include 'outdoor_campaign.html' %}
		                					    
				    </div>
				    
				  </li>
				  
	              {% empty %}
	              <div style="text-align: center;">
	              	<a data-toggle="modal" 
		  	      	data-target="#newTip" class="dropdown-toggle btn btn-publish-first">
	              	    	No outdoors published. Create one and share!
		  	      	</a>  
		  	      </div>      	              
				{% endfor %}
				</ul>
				
    </div>
</div>  
{%  endblock %}

