{% extends "wpanel.html" %}
{% block body %}
	<table id="tables">
	  <thead>
	    <tr>
	      <th>User ID</th>
	      <th>Profile ID</th>
	      <th>User's Name</th>
	      <th>Jobs</th>
	    </tr>
	  </thead>
	  <tbody>	    
		{% for u in users_jobs %}
		<tr>
			<td>{{ u.usuario_id }}</td>
			<td>{{ u.profile_id }}</td>
			<td><a href="{%url 'jobs' u.profile_id %}" target="_blank">
			{% if u.type = "f" %}
	       		    {% if u.upload != "0" %}
	       		    	<span class="user"><img src="{{u.upload}}" class="user"></span>
	       		    {% else %}
	       		    	<span class="user"><img class="user woman"></span>
	       		    {% endif %}
	       	
	       	{% elif u.type = "m" %}
	       		    {% if u.upload != "0" %}
	       		    	<span class="user"><img src="{{u.upload}}" class="user"></span>
	       		    {% else %}
	       		    	<span class="user"><img class="user man"></span>
	       		    {% endif %}
	       	
	       	{% elif u.type = "c" %}
	       		    {% if u.upload != "0" %}
	       		    	<span class="user"><img src="{{u.upload}}" class="user"></span>
	       		    {% else %}
	       		    	<span class="user"><img class="user company"></span>
	       		    {% endif %}
			{% endif %}
			{{ u.nome }}</a></td>			
			<td>
			{% with u.profile_id as user_profile %}
				{% for p in jobs_cards %}
						{% if p.jobs_profile_id = user_profile %}
							Company: {{p.company}}<br/>
							{%if p.position %}Position: {{p.position}}{% endif %}<br/>
							{%if p.start_year %}Start: {{p.start_year}}{% endif %}<br/>
							{%if p.end_year %}End: {{p.end_year}}{% endif %}<br/>
						{% endif %}
				{% endfor %}
			{% endwith %}
			</td>			 
		</tr>
		{% endfor %}	    
	  </tbody>
	</table>
{% endblock %}