#paging_container8 .no_more{
    background-color: white;
    color: gray;
    cursor: default;
}

.ellipse{
	float: left;
}

.container{
	background-color: white;
}

.page_navigation , .alt_page_navigation{
	margin-right:5px;
	float:right;
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#325da7;
}
.active_page{
	background-color:white !important;
	color:black !important;
}	

.content, .alt_content{
	width:100%;
	color: black;
}

.content li, .alt_content li, .content > p{
	padding: 5px
}

