.ui-autocomplete {}
.ui-autocomplete { overflow: hidden; z-index: 99999; padding: 1px; position: absolute; }
.ui-autocomplete ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; } 

/* if  the width: 100%, a horizontal scrollbar will appear when scroll: true. */
/* !important! if line-height is not set, or is set to a relative unit, scroll will be broken in firefox */
.ui-autocomplete li { background-color: #fff; margin: 0px; padding: 2px 5px; cursor: pointer; display: block; font-size: 16px; line-height: 16px; overflow: hidden; border-collapse: collapse; }
.ui-autocomplete li:hover {background-color: #eee;}
.ui-autocomplete li.ui-autocomplete-even { background-color: #fff; }
.ui-autocomplete li.ui-autocomplete-odd { background-color: #eee; }

.ui-autocomplete li.ui-autocomplete-state-default { background-color: #fff; border: 1px solid #fff; color: #212121; }
.ui-autocomplete li.ui-autocomplete-state-active { color: #000; background:#E6E6E6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x; border:1px solid #D3D3D3; }

.ui-autocomplete-loading { background: white url('/static/css/dominion/images/ajax-loader.gif') right center no-repeat; }
.ui-autocomplete-over { background-color: #0A246A; color: white; }